*
{
padding: 0;
margin: 0;
border: 0;
}

body
{
		background-image: url("/media/images/masks.png");
		background-color: black;
		font-family: arial;
		color: white;
}

#content
{
		background-color: black;
		width: 800px;
		padding-bottom: 50px;
		padding-top:50px;
		margin: auto;
		color: white;
		outline: 1px solid white;
}

a
{
		color: white;	
}

#header
{
background-image: url("/media/images/title.png");
background-repeat: no-repeat;
width: 500px;
height: 110px;
margin: auto;
margin-top: 20px;
color: white;
}

#header h1
{
position: fixed;
left: -1000px;
}

#authentication
{
text-align: right;
margin-right: 250px;
}

#index_buttons
{
width: 600px;
padding-top: 100px;
padding-bottom: 100px;
margin: auto;
}

#index_create_game
{
float: left;
}

#index_create_prompt
{
float: right;
}

#index_view_games
{
text-align: center;
}

.button_dock
{
position: relative;
text-align: center;
padding: 10px;
}

#create_game
{
text-align: center;
margin-bottom: 50px;
margin-top: 50px;
}

#list
{
width: 600px;
position: relative;
padding: 20px;
margin: auto;
}

#create_player
{
text-align: center;
padding: 20px;
}

#select_prompts
{
text-align: center;
padding: 20px;
}

#create_prompt
{
width: 600px;
padding-bottom: 50px;
margin: auto;
}

#curtain
{
background-image: url("/media/images/background.png");
background-repeat: no-repeat;
background-color: #d63d35;
position: relative;
width: 800px;
height: 600px;
}

#difficulty
{
background-image: url("/media/images/difficulty.png");
background-repeat: no-repeat;
width: 75px;
height: 124px;
position:absolute;
left: 80px;
top: 130px;
color: white;
padding-top: 50px;
text-align: center;
font-size: 30px;
}

#score
{
background-image: url("/media/images/score.png");
background-repeat: no-repeat;
width: 75px;
height: 124px;
position:absolute;
right: 80px;
top: 130px;
color: white;
padding-top: 50px;
text-align: center;
font-size: 30px;
}

#prompt_card, #game_detail, #end_game
{
background-image: url("/media/images/prompt_card.png");
background-repeat: no-repeat;
margin: auto;
position: relative;
top: 50px;
width: 363px;
height: 354px;
color: white;
}

#begin_game
{
width: 200px;
margin: auto;
text-align: center;
margin-bottom: 150px;
position: relative;
}

#end_game
{
margin-bottom: 250px;
}

#prompt_card h2, #game_detail h2, #end_game h2
{
padding: 20px;
text-align: center;
}

#prompt_card p, #game_detail p
{
padding: 20px;
}

#buttons
{
margin: auto;
text-align: center;
position: relative;
bottom: 0px;
width:363px;
}

#complete, #truth
{
width: 35%;
float: left;
}

#wimp_out, #dare
{
width: 40%;
float: right;
}

#final_scores dt
{
float: left;
margin-left: 40px;
}

#final_scores dd
{
text-align: right;
margin-right: 40px;
}

.object_list li
{
color: white;
outline: 1px solid white;
margin-bottom: 1em;
list-style-type: none;
padding: 10px;
}

.object_list input
{
float: right;
}

#create_prompt
{
color: white;
}

#players
{
background-image: url("/media/images/current_player.png");
background-repeat: no-repeat;
margin: auto;
text-align: center;
width: 220px;
height: 60px;
padding-top: 15px;
margin-top: 15px;
clear: both;
font-size: 30px;
}

#exit
{
text-align: center;
}

#prompt_buttons
{
clear: both;
text-align: center;
}

#prompt_buttons input
{
margin-bottom: 0;
}

#login_form
{
width: 300px;
margin: auto;
text-align: center;
}

.detail_form label, #login_form label
{
width: 100px;
margin-bottom: 10px;
float: left;
clear: left;
text-align: right;
padding-right: 10px;
}

.detail_form input, .detail_form textarea, #login_form input
{
margin-bottom: 10px;
}

.detail_form input.checkbox
{
margin-top: 6px;
}

#login_text
{
margin: 20px;
text-align: center;
}

#register
{
text-align: center;
margin: 50px;
}