body
{
		background-color: black;
		font-family: arial;
		color: white;
}

#content
{
		background-color: black;
		width: 800px;
		margin: auto;
		color: white;
}

a
{
		color: white;	
}

#header
{
background-image: url("/media/images/title.png");
background-repeat: no-repeat;
width: 500px;
height: 110px;
margin: auto;
margin-top: 20px;
color: white;
}

#header h1
{
position: fixed;
left: -1000px;
}

#curtain
{
background-image: url("/media/images/background.png");
background-repeat: no-repeat;
position: relative;
width: 800px;
height: 600px;
}

#difficulty
{
background-image: url("/media/images/difficulty.png");
background-repeat: no-repeat;
width: 75px;
height: 124px;
position:absolute;
left: 80px;
top: 130px;
color: white;
padding-top: 50px;
text-align: center;
font-size: 30px;
}

#prompt_card
{
background-image: url("/media/images/prompt_card.png");
margin: auto;
position: relative;
top: 50px;
width: 363px;
height: 354px;
color: white;
}

#prompt_card h2
{
padding: 20px;
text-align: center;
}

#prompt_card p
{
padding: 20px;
}

#buttons
{
margin: auto;
position: relative;
bottom: 0px;
width:363px;
}

#complete
{
width: 40%;
}

#wimp_out
{
width: 40%;
float: right;
}

.object_list li
{
color: white;
outline: 1px solid white;
margin-bottom: 1em;
list-style-type: none;
padding: 10px;
}

.object_list input
{
float: right;
}

#create_prompt
{
color: white;
}
