{% extends "base.html" %}

{% block content %}

{% if form.has_errors %}
<p>Your username and password didn't match.  Please try again.</p>
{% endif %}

<div class="grid_4 prefix_1">
  <form method="post" action=".">
    <div class="grid_4"> &nbsp; </div>
    <div class="clear"> &nbsp; </div>
    <fieldset>
      <p><label for="id_username">Username:</label> {{ form.username }}</p>
      <p><label for="id_password">Password:</label> {{ form.password }}</p>
    </fieldset>
    <div class="button_dock">
      <input type="image" src="/site_media/images/login_up.png" class="stated_button" alt="login" />
      <input type="hidden" name="next" value="{{ next }}" />
    </div>
  </form>
</div>
<div class="clear">
  &nbsp;
</div>

<div class="grid_6">
  <p>Not registered yet?  <a href="/accounts/register/">Create an account</a></p>
</div>
<div class="clear">
  &nbsp;
</div>

{% endblock %}
