{% extends "base.html" %}

{% block content %}
<div id="register">
<form id="registration_form" name="registration_form" method="post" action=".">
<fieldset>
{{ registration_form.username.errors }}
<p><label> Username:</label> {{ registration_form.username }}</p>
{{ registration_form.password.errors }}
<p><label> Password:</label> {{ registration_form.password }}</p>
<div class="button_dock">
<input type="image" src="/media/images/register.png" alt="Register" />
</div>
</fieldset>
</form>
</div>

{% endblock %}
