{% extends "base.html" %}
{% block content %}

<p class="help_text">These are the prompts you have available for your game.  They are the prompts that have been approved for general use, plus any that you have already created.  If you would like to make up some prompts for your own games only, click 'Create a New Prompt' </p>
<p class="button_dock"><a href="/prompt/create/"><img src="/media/images/create_prompt_marquis.png" alt="Create a New Dare" /></a></p>
<div id="list">
  <ul id="prompt_list" class="object_list">
    {% for prompt in prompts %}
	<li>
	  {{ prompt.difficulty }}: {{prompt.name}}: {{prompt.truth}} // {{prompt.dare}} 
	  {% ifequal prompt.owner request.user %}
	  <form action="/prompt/{{prompt.id}}/delete/" method="post"><input type="image" src="/media/images/delete.png" alt="delete" /></form> 
	  {% endifequal %}
	</li>
	{% endfor%}
  </ul>
</div>

{% include "exit.html" %}
{% endblock %}
