{% extends "base.html" %}
{% block content %}

<p class="help_text">These are the prompts you have available for your game.  They are the prompts that have been approved for general use, plus any that you have already created.  If you would like to make up some prompts for your own games only, click 'Create A New Dare' </p>
<p class="button_dock"><a href="/prompt/create/"><img src="/media/images/index_prompt_create.png" alt="Create a New Dare" /></a></p>
<div class="grid_4 prefix_1 alpha prompt">
  <ul class="object_list">
    {% for prompt in prompts %}
	<li>
	  <p>{{ prompt.difficulty }}: {{prompt.name}}: {{prompt.truth}} // {{prompt.dare}}</p>
	  {% ifequal prompt.owner request.user %}
	  <form action="{{ prompt.get_absolute_url}}delete/" method="post"><input type="image" src="/media/images/delete.png" alt="delete" /></form> 
	  {% endifequal %}
	</li>
	{% endfor%}
  </ul>
</div>
<div class="clear">
  &nbsp;
</div>

{% endblock %}
