{% extends "base.html" %}
{% block content %}

<div id="create_prompt">
	<form action="." method="post" class="detail_form">
	<p><label for="id_name">Name:</label> {{ form.name }}</p>
	<p><label for="id_description">Description:</label> {{ form.description }}</p>
	<p><label for="id_difficulty">Difficulty:</label> {{ form.difficulty }}</p>
	<p id="prompt_buttons">
	  <input type="image" src="/media/images/prompt_create.png" name="create" value="create" />
	  <a href="/prompt/"><img src="/media/images/prompt_cancel.png" alt="See the List of Dares" /></a>
	</p>
	</form>
</div>


{% include "exit.html" %}

{% endblock %}
