{% extends "base.html" %}
{% block content %}

<p class="help_text">This is the form for creating your own prompts for your Truth or Dare games.</p>
<div id="create_prompt">
	<form action="." method="post" class="detail_form">
	  <div class="prompt_form">
		<p class="prompt_text">Name: </p> 
		{{ form.name }}
	  </div>
	  <p class="help_text">{{ form.name.help_text }}</p>
	  <div class="prompt_form">
		<p class="prompt_text">Truth: </p>
		{{ form.truth }}
	  </div>
	  <p class="help_text">{{ form.truth.help_text }}</p>
	  <div class="prompt_form">
		<p class="prompt_text">Dare: </p>
		{{ form.dare }}
	  </div>
	  <p class="help_text">{{ form.dare.help_text }}</p>
	  <div class="prompt_form">
		<p class="prompt_text">Difficulty: </p>
		{{ form.difficulty }}
	  </div>
	  <p class="help_text">{{ form.difficulty.help_text }}</p>
<p class="help_text">Check any boxes that apply to your prompt.  When you create a game, you have the option of excluding prompts with certain content for squeamish players.</p>
{% for tag in tags %}
	  <li class="tags"><input type="checkbox" name="tags" value="{{tag}}"/>{{tag}}</li>
{% endfor %}
	<p id="prompt_buttons">
	  <input type="image" src="/media/images/create.png" name="create" value="create" />
	  <a href="/prompt/"><img src="/media/images/prompt_cancel.png" alt="See the List of Dares" /></a>
	</p>
	</form>
</div>


{% endblock %}
