{% extends "base.html" %}
{% block content %}

<div id="create_prompt">
	<form action="." method="post" class="detail_form">
	<p><label for="id_name">Name:</label> {{ form.name }}</p>
	<p><label for="id_description">Description:</label> {{ form.description }}</p>
	<p><label for="id_difficulty">Difficulty:</label> {{ form.difficulty }}</p>
	<p><input type="submit" name="create" value="create" /></p>
	</form>
</div>
<!--
	<p><a href="/prompt/">See the List of Dares</a></p>
-->
{% include "exit.html" %}

{% endblock %}
