{% extends "base.html" %}
{% block content %}

<p class="button_dock"><a href="/player/{{ game.id }}/create/"><img src="/media/images/add_player.png" alt="Create a New Player" /></a></p>
<div id="list">
  <ul id="player_list" class="object_list">
	{% for object in object_list %}
	<li>
	  <form action="/player/{{ object.id }}/delete/" method="post"><input type="image" src="/media/images/delete.png" alt="delete" /></form> 
	  {{ object.name }}
	</li>
	{% endfor%}
  </ul>
</div>
<p class="help_text">Once you've added all the players for this game, click 'All Players Added'</p>
<form action="/game/{{ game.id }}/players_added/" method="post">
<p class="button_dock">
<input type="image" src="/media/images/players_added.png" alt="All Players Added" />
</p>
</form>


{% include "exit.html" %}
{% endblock %}
