*
{
    padding: 0;
    margin: 0;
    border: 0;
}
.about, .prompt {
    padding:1em;
}

.about p {
    text-align: justify;
}

#content fieldset, #content p {
    margin-bottom: 0px;
}

body
{
    background-image: url("/site_media/images/masks.png");
    background-color: black;
    font-family: arial;
    color: white;
}

#content
{
    background-color: black;
    color: white;
    border: 1px solid white;
    text-align:center;
    margin-bottom:1em;
}

a
{
    color: white;	
}

#header h1 {
  position: absolute;
  left:-1000px;
}

#header
{
    margin-top:2em;
    height: 70px;
    color: white;
}

#comment_area
{
    position: relative;
    bottom: 0px;
    right: 0px;
}

#comment_form
{
    width: 450px;
    background-color: black;
    border: 2px solid white;
    display: none;
}

#comment_form label
{
    vertical-align: top;
    position: absolute;
}

#comment_form input,
#comment_form textarea
{
    margin-left: 110px;
}

#difficulty{
  background-image:url("/site_media/images/difficulty.png");
}

#score{
  background-image: url("/site_media/images/score.png");
}

#difficulty, #score
{
    margin-top: 0.5em;
    padding-top: 1em;
    height: 200px;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    font-size: 30px;
}

#prompt_card, #end_game
{
    color: white;
    min-height: 120px;
}

.no_space {
    padding:0px;
    margin-bottom:0px;
}

#rules
{
    font-size: 0.9em;
}

.object_list li
{
    color: white;
    outline: 1px solid white;
    margin-bottom: 1em;
    margin-left:0px;
    list-style-type: none;
    padding: 10px;
}

.object_list input
{
    float: right;
}

#players
{
    background-image: url("/site_media/images/current_player.png");
    background-repeat: no-repeat;
    margin: auto;
    text-align: center;
    clear: both;
    font-size: 30px;
}

#curtain_top{
  height: 20px;
  border-bottom:2px solid black;
  background-image: url("/site_media/images/curtain_top.png");
}

.side{
  background-image:url("/site_media/images/curtain_side.png");
}

.right_side{
    background-image:url("/site_media/images/curtain_right.png");
}

.left_side{
    background-image:url("/site_media/images/curtain_left.png");
}

#exit
{
    text-align: center;
}

.help_text
{
    text-align: center;
    padding: 1em;
    font-size: 0.8em;
}

#stage{
  background-color: black;
  position:relative;
}

.player_name{
  background-image:url("/site_media/images/current_player.png");
  background-repeat:no-repeat;
  height: 40px;
  position: relative;
  margin-left:50px;
}

.player_name p{
  font-size:1.4em;
  margin-top: 0.7em;
}

.errorlist li{
  list-style-type: none;
  margin-left: 0px;
  font-size: 0.8em;
  color: red;
  margin-top: 1em;
}

.tags
{
    list-style-type: none;
    text-align: left;
    padding-bottom: 0.5em;
}
.score{text-align:right;}
.home p{
  font-weight: bold;
  text-align: justify;
  padding: 0 1em;
}
.players{float:left;}