{% extends "base.html" %}

{% block content %}

<div class="grid_4 prefix_1 about alpha">
     <h2>Page Not Found</h2>
     <p>Try one of the following options:</p>
     <a href="/about/"><img src="/media/images/index_about.png" alt="About Truth or Dare" class="stated_button" /></a>
     <a href="/game/create/"><img src="/media/images/index_game_create.png" alt="Create Game" class="stated_button" /></a>
     <a href="/game/"><img src="/media/images/index_view_games.png" alt="View Games" class="stated_button" /></a>
     <a href="/prompt/"><img src="/media/images/index_prompt_create.png" alt="Create Prompts" class="stated_button" /></a>
</div>

{% endblock %}
