{% extends "base.html" %}

{% block content %}

<div class="grid_4 prefix_1 about alpha">
     <h2>Server Error</h2>
     <p>Please notify site administration if this happens again.</p>
     <a href="/about/"><img src="/media/images/index_about.png" alt="About Truth or Dare" /></a>
     <a href="/game/create/"><img src="/media/images/index_game_create.png" alt="Create Game" /></a>
     <a href="/game/"><img src="/media/images/index_view_games.png" alt="View Games" /></a>
     <a href="/prompt/"><img src="/media/images/index_prompt_create.png" alt="Create Prompts" /></a>
</div>

{% endblock %}
