{% extends "base.html" %}

{% block content %}

<div class="grid_6 about">
     
<h4>The Benefits of a Free Truth or Dare Account:</h4>
<p>When you create an account on FreeTruthOrDare.com, you have the option to save your games and come back to them later.  You can also create your own private truths and dares to use in games against your friends.  Not only is it free, you don't even have to submit an email address.  So why wouldn't you create an account?  <a href="/accounts/register/">Create your account</a>,or read our <a href="/terms/">Terms of Use.</a>
</p>

</div>

<div class="clear">
  &nbsp;
</div>

<div class="grid_6 about">
     
<h4>Truth or Dare Rules:</h4>
<p>The current player's name will appear in the box at the bottom of the game screen.
Each player may choose either a truth or a dare on their turn.
The player may choose either to complete the truth or dare prompt or to wimp out.
If the player completes the prompt, the difficulty of the prompt will be added to the player's score.
If the player wimps out, no points will be added to the player's score.
The player with the most points at the end of the game wins!
</p>

</div>

<div class="clear">
  &nbsp;
</div>

<div class="grid_6 about">
<h4>Truth or Dare Challenge Levels:</h4>
<img src="/media/images/difficulty_level.png" alt="Challenge Levels" />
<p>This grid shows how the challenge levels increase with each increasing difficulty.  But with greater risk come greater rewards - you only earn one point for completing a difficulty one truth or dare, but you earn five points for completing a difficulty five, and ten for completing a difficulty ten prompt.</p>
</div>

<div class="clear">
  &nbsp;
</div>

{% endblock %}
