<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  {% load comment_tags %}
  <head>
    <title>Play Truth or Dare</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="verify-v1" content="T6ZsonlWXy5jNgqi28DyTdvpaY0llsJtlBsorgcB+kI=" />
    <meta name="y_key" content="ec67eb084eb6f839" />
    <meta name="msvalidate.01" content="C3FC952E0022D96CDD99B565D90EBBDB" />
    <meta name="description" content="A free Truth or Dare party game for adults." />
    <link rel="stylesheet" type="text/css" href="/site_media/stylesheets/reset.css" />
    <link rel="stylesheet" type="text/css" href="/site_media/stylesheets/text.css" />
    <link rel="stylesheet" type="text/css" href="/site_media/stylesheets/960.css" />
    <link rel="stylesheet" type="text/css" href="/site_media/stylesheets/site.css" />
    <link rel="icon" type="image/png" href="/site_media/images/favicon.png" />
    <script type="text/javascript" src="/site_media/scripts/jquery-1.2.6.js"></script>
    <script type="text/javascript" src="/site_media/scripts/base.js"></script>
  </head>
  <body>
    <div class="container_12">
      <div class="grid_3 googleads">

<script type="text/javascript"><!--
google_ad_client = "pub-9074702333276361";
/* 160x600, created 10/13/10 */
google_ad_slot = "6210293920";
google_ad_width = 160;
google_ad_height = 600;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>

      </div>

      <div class="grid_6" id="main">

	{% block header %}
	  <div id="header"><h1>Truth or Dare</h1><a href="/"><img src="/site_media/images/title.png" alt="Truth or Dare" /></a></div>
	{% endblock header %}

	<div id="content">
	  {% block content %}
	  {% endblock content %}
	</div>

	<div class="grid_2 alpha" id="emlprime">
	  <a href="http://www.emlprime.com" rel="external">
	    <img src="/site_media/images/made_by_eml.png" alt="This web site designed and hosted by EMLPrime." />
	  </a>
	</div>

	<div class="grid_2">
	  {% block exit %}
	  {% include "exit.html" %}
	  {% endblock %}
	</div>

	<div class="grid_2 omega">
	  <a href="/terms/">Terms of Use</a>
	  <div id="authentication">
	    {% if user.is_authenticated %}
	    <p class="no_space">Welcome, {{ user }}</p>
	    <a href="/accounts/logout/">Logout</a>
	    {% else %}
	    <a href="/accounts/login/">Login</a>
	    {% endif %}
	  </div>
	  
	  {% display_comment_area %}
	  
	  <script type="text/javascript">
	    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	  </script>
	  <script type="text/javascript">
	    var pageTracker = _gat._getTracker("UA-88241-6");
	    pageTracker._initData();
	    pageTracker._trackPageview();
	  </script>

	</div>

      </div>


      <div class="grid_3 googleads">
<script type="text/javascript"><!--
google_ad_client = "pub-9074702333276361";
/* 160x600, created 10/13/10 */
google_ad_slot = "8331095493";
google_ad_width = 160;
google_ad_height = 600;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
      </div>


    </div>

  </body>
</html>
