<!DOCTYPE html PUBLIC "-//W3C//DTD/ XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/html">
  <head>
	<title>Play Truth or Dare</title>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-859-1" />
	<link rel="stylesheet" type="text/css" href="/media/css/site.css" />
  </head>
  <body>
	<a href="/">
	<div id="header">
	  {% block header %}
	  <h1>Truth or Dare</h1>
	  {% endblock header %}
	</div>
	</a>
	<div id="content">
	  {% block content %}
	  {% endblock content %}
	</div>
	<div id="authentication">
	  {% if user.is_authenticated %}
	  <a href="/accounts/logout/">Logout</a> {{ user }}
	  {% else %}
	  <a href="/accounts/login/">Login</a>
	  {% endif %}
	</div>

	<div id="comment_form">
	  <form action="/comment/create/" method="post">
	    <fieldset>
	      {{ comment_form.as_p }}
	      <input type="submit" name="submit" value="Submit Comment" />
	    </fieldset>
	  </form>
	</div>
{% comment %}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-88241-6");
pageTracker._initData();
pageTracker._trackPageview();
</script>
{% endcomment %}
  </body>
</html>
