{% extends "base.html" %}

{% block content %}

<h4 class="no_space">Free Truth or Dare Terms of Use:</h4>
<div class="grid_4 prefix_1">
     <p class="no_space">This site is made for the enjoyment of everyone who wishes to use it.  This site must be used legally and responsibly.  Site administration will remove any game prompts, including private prompts, that encourage illegal, unsafe, or morally questionable behavior.  For example, do not harm cute fuzzy animals or children in the playing of this game, and please don't dare your friends to steal cars or harass the gorillas at the zoo.</p>
</div>
<div class="clear">&nbsp;</div>
{% endblock %}
