{% extends "game/stage.html" %}

{% block content %}
<div class="grid_6 alpha omega" id="stage">

  <div class="grid_6 alpha omega" id="curtain_top">
    &nbsp;
  </div>

  <div class="clear">&nbsp;</div>

  <div class="grid_1 alpha left_side">
    <div id="difficulty">{{ current_prompt.difficulty }}</div>
  </div>

<div class="grid_4">

{% block stage_detail %}

	<div id="prompt_card">
		<h2>{{current_prompt.name}}</h2>
		<p>Round: {{ current_round }}</p>
	</div>
	<div class="clear">&nbsp;</div>

	<div id="truth" class="grid_2 alpha"><form action="/game/{{current_game.id}}/play/truth/" method="post"><p><input type="image" class="stated_button" src="/media/images/truth_up.png" alt="truth" /></p></form></div>

	<div id="dare" class="grid_2 omega"><form action="/game/{{current_game.id}}/play/dare/" method="post"><p><input type="image" class="stated_button" src="/media/images/dare_up.png" alt="dare" /></p></form></div>


<div class="clear">&nbsp;</div>

	<div class="grid_3 alpha omega player_name"><p>{{current_player}}</p></div>

{% endblock %}

</div>

  <div class="grid_1 omega right_side">
	<div id="score">{{ current_player.score }}</div>
  </div>

</div>

<div class="clear">&nbsp;</div>

{% endblock %}
