{% extends "game/stage.html" %}

{% block content %}
<div class="grid_6 alpha omega" id="stage">

  <div class="grid_6 alpha omega" id="curtain_top">
    &nbsp;
  </div>

  <div class="clear">&nbsp;</div>

  <div class="grid_1 alpha side">
    <div id="difficulty">{{ current_prompt.difficulty }}</div>
  </div>

<div class="grid_4">

{% block stage_detail %}

	<div id="prompt_card">
		<h2>{{current_prompt.name}}</h2>
	</div>
	<div class="clear">&nbsp;</div>

	<div id="dare" class="grid_2 alpha omega"><form action="/game/{{current_game.id}}/play/dare/" method="post"><input type="image" src="/media/images/dare.png" alt="dare" /></form></div>
	<div id="truth" class="grid_2 alpha omega"><form action="/game/{{current_game.id}}/play/truth/" method="post"><input type="image" src="/media/images/truth.png" alt="truth" /></form></div>


<div class="clear">&nbsp;</div>

	<div class="grid_3 alpha omega player_name"><p>{{current_player}}</p></div>

{% endblock %}

</div>

  <div class="grid_1 omega side">
	<div id="score">{{ current_player.score }}</div>
  </div>

<div class="clear">&nbsp;</div>

</div>

{% endblock %}
