
{% extends "base.html" %}
{% block content %}

<p class="button_dock"><a href="/game/create/"><img src="/media/images/list_game_create.png" alt="Create a New Game" /></a></p>
<p class="help_text">Click on any existing game to go to wherever you left off.  If a game is complete, you can click on it to see the winner.</p>
<div id="list">
  <ul id="game_list" class="object_list">
	{% for object in object_list %}
	<li>
	  <form action="/game/{{object.id}}/delete/" method="post"><input type="image" src="/media/images/delete.png" alt="delete" /></form> 
	  <a href="{{ object.get_absolute_url }}">{{ object.name }}</a>
	</li>
	{% endfor%}
  </ul>
</div>

{% include "exit.html" %}
{% endblock %}
