{% extends "base.html" %}
{% block content %}

<div id="create_game">
  {% if form.errors %}{{ form.errors }}{% endif %}
  <form action="." method="post">
    {{ form.as_p }}
	<ul>
<p class="help_text">Select any of the types of prompts that you wish to exclude from your game.  For example, selecting the nudity box will exclude any nudity-containing prompts from your game.</p>
	  {% for tag in tags %}
	  <li><input type="checkbox" name="tags" value="{{tag}}"/>{{tag}}</li>
	  {% endfor %}
	</ul>
	<div class="button_dock">
	  <input type="image" src="/media/images/create_game.png" alt="Create Game" />
	</div>
  </form>
</div>
{% include "exit.html" %}
{% endblock %}
