{% extends "base.html" %}
{% block content %}

<div id="create_game">
  {% if form.errors %}{{ form.errors }}{% endif %}
  <form action="." method="post">
	<p><label for="id_name">Name:</label> {{ form.name }}</p>
	<p><label for="id_max_difficulty">Maximum Difficulty:</label>{{form.max_difficulty}} (Choose a number between 1 and 10)</p>
	<ul>
	  {% for tag in tags %}
	  <li><input type="checkbox" name="tags" value="{{tag}}"/>{{tag}}</li>
	  {% endfor %}
	</ul>
	<div class="button_dock">
	  <input type="image" src="/media/images/create_game.png" alt="Create Game" />
	</div>
  </form>
</div>
{% include "exit.html" %}
{% endblock %}
