{% extends "game/stage.html" %}
{% block content %}
<div id="curtain">
<div id="difficulty">{{ current_prompt.difficulty }}</div>
<div id="prompt_card">
<h2>{{current_prompt.name}}</h2>
<p id="description">{{ current_prompt.description }}</p>
</div>
<div id="buttons">
<div id="wimp_out"><form action="/game/{{current_game.id}}/wimp_out/" method="post"><input type="image" src="/media/images/wimp_out.png" alt="wimp_out" /></form></div>
<div id="complete"><form action="/game/{{current_game.id}}/complete/" method="post"><input type="image" src="/media/images/complete.png" alt="complete" /></form></div>
</div>
</div>
{% endblock %}
