{% extends "game/choice.html" %}
{% block stage_detail %}

<div id="prompt_card" class="grid_4 alpha omega">
<h2>{{current_prompt.name}}</h2>
<p id="description">{{ description }}</p>
</div>
<div class="clear">&nbsp;</div>

<div class="grid_2 alpha"><form action="/game/{{current_game.id}}/complete/" method="post"><p><input type="image" class="stated_button" src="/media/images/complete_up.png" alt="complete" /></p></form></div>

<div class="grid_2 omega"><form action="/game/{{current_game.id}}/wimp_out/" method="post"><p><input type="image" class="stated_button" src="/media/images/wimp_out_up.png" alt="wimp_out" /></p></form></div>

<div class="clear">&nbsp;</div>

	<div class="grid_3 alpha omega player_name"><p>{{current_player}}</p></div>

{% endblock %}
