{% extends "base.html" %}
{% block content %}

<div class="grid_6 alpha omega" id="stage">

  <div class="grid_6 alpha omega" id="curtain_top">
    &nbsp;
  </div>

  <div class="clear">&nbsp;</div>

  <div class="grid_1 alpha side">
    <p><img src="/media/images/curtain_left.png" alt=" " /></p>
  </div>

<div class="grid_4">

{% block stage_detail %}

{% endblock %}
</div>

  <div class="grid_1 omega side">
    <p><img src="/media/images/curtain_right.png" alt=" " /></p>
  </div>

</div>

<div class="clear">&nbsp;</div>

{% endblock %}
